<label for="red">Red</label>
<input type="range" min="0" max="255" value="255" id="red">

<label for="green">Green</label>
<input type="range" min="0" max="255" value="255" id="green">

<label for="blue">Blue</label>
<input type="range" min="0" max="255" value="255" id="blue">
